<%- include header.ejs -%>
<div class="Haus-mynd">
  <p class="Fyrirsogn">Greinasafn</p>
</div>
<div class="Greinar-container">
    <div class="grein">
      <a href='/na-na-na-na-batman' class="link">
        <div class="Mynd">
        </div>
        <div class="info">
            <%-title1 %>
            <%-date1 %>
        </div>
      </a>
    </div>
    <div class="grein">
      <a href='/corporate-stooge' class="link">
        <div class="Mynd1" style="background-image: url(<%-image1%>)">
        </div>
        <div class="info">
            <%-title2 %>
            <%-date2 %>
        </div>
      </a>
    </div>
    <div class="grein">
      <a href='/flux-capacitor' class="link">
        <div class="Mynd">
        </div>
        <div class="info">
            <%-title3 %>
            <%-date3 %>
        </div>
        </a>
    </div>
    <div class="grein">
      <a href='/lorem-ipsum' class="link">
        <div class="Mynd2" style="background-image: url(<%-image2%>)">
        </div>
        <div class="info">
            <%-title4 %>
            <%-date4 %>
        </div>
        </a>
    </div>
</div>
</div>
<%- include footer.ejs -%>
